/* ================================================
** 
**	Project: Tasked
**
**	File: style.css
**	Desc: Every element's style in this project.
**
**	Date: 2025/12/21 7:55 PM
**	Authors: The Kumor
** 
================================================ */

html {
	background-image: url("img/background/1337140.png");
	background-size: 100%;
	background-attachment: fixed;
	/* background-color: white; */
	font-family: "Lora", serif;
	color: white;
}

a {
	color: lightblue;
}

#task-table {
	margin: 0 auto;
	text-align: center;
	border: 2px solid black;
	width: 33%;
}

.task-card {
	background-color: brown;
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 2vh;
	padding: 1vh;
	width: 50%;
}

.task-card:hover{
	cursor: pointer;
}

.task-subcard {
	background-color: brown;
	border: 1px dotted black;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 0.5vh;
}

.task-container {
	background-color: rgb(58, 58, 58);
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 2vh;
	padding: 1vh;
	width: 50%;
}

.points-container {
	background-color: rgb(66, 62, 102);
	border: 3px solid black;
	margin: 0 auto;
	margin-bottom: 3vh;
	padding: 1vh;
	width: 40%;
}

.footer {
	background-color: rgb(58, 58, 58);
	border-top: 2px solid black;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 1.5vh;
	bottom: 0;
}

.side {
	position: fixed;
	width: 15%;
	background-color: rgb(58, 58, 58);
	border: 2px solid black;
	padding-left: 3vh;
	margin-left: 3vh;
}

.button {
	background-color: gray;
	border: 2px solid black;
	margin: 0 auto;
	display: block;
	padding: 0.5vw;
	width: 30%;
}

.button:hover{
	cursor: pointer;
	background-color: lightgray;
}

.welcome {
	text-align: center;
	margin-top: 50px;
}

.footer-padding {
	padding-top: 12vh;
}